{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta name="theme-color" content="#006699"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.bootstrap4.min.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.1/js/responsive.bootstrap4.min.js"></script>

    {% block head %}
    <title>Base</title>
    {% endblock %}
    <!--Needed for importing static files-->
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'app_Transaction/style.css' %}" type="text/css">
</head>

<body>

    <!--Sample navbar code taken from Bootstrap example-->
    {% with url_name=request.resolver_match.url_name %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand mb-0 h1" href="{% url 'studentLogin' %}"><img src="{% static 'ieee_header.svg' %}"
                                                                             height="50"
                                                                             class="d-inline-block align-top"
                                                                             alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <!--<li class="nav-item active">-->
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'checkIn_Or_CheckOut' %}active{% endif %}" href="{% url 'checkIn_Or_CheckOut' %}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'studentLogin' %}active{% endif %}" href="{% url 'studentLogin' %}">Login<span class="sr-only">(current)</span></a>
                </li>
                {% if request.session.AdminPolyCardData != None %}
                <!-- <li class="nav-item">
          <a class="nav-link {% if url_name == 'parts' %}active{% endif %}" href="{% url 'parts' %}">Parts</a>
        </li> -->
                {% if request.session.CustomerPolyCardData != None %}
                <!-- <li class="nav-item">
                    <a class="nav-link {% if url_name == 'checkOut' %}active{% endif %}" href="{% url 'checkOut' %}">Checkout Equipment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'checkIn' %}active{% endif %}" href="{% url 'checkIn' %}">Return Equipment</a>
                </li> -->
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'registration' %}active{% endif %}" href="{% url 'registration' %}">{% if request.GET.mode == "update" %}Update {{userData.first_Name}}'s profile{% else %}Register new User{% endif %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'searchUser' %}active{% endif %}" href="{% url 'searchUser' %}">Search User Database</a>
                </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">


                <!-- {% if request.session.AdminPolyCardData != None %}
        <span class="navbar-text">
      Officer: {{ adminData.first_Name }} {{ adminData.last_Name }}
    </span>
    {% endif %} -->
                <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  LOGIN ACTIONS
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  {% if request.session.CustomerPolyCardData == None %}
                  <a class="dropdown-item" href="{% url 'studentLogin' %}">STUDENT LOGIN</a>
                  {% else %}
                  <a class="dropdown-item" href="{% url 'studentLogout' %}">STUDENT LOGOUT</a>
                  {% endif %}

                  {% if request.session.AdminPolyCardData == None %}
                  <a class="dropdown-item" href="{% url 'studentLogin' %}">OFFICER LOGIN</a>
                  {% else %}
                  <a class="dropdown-item" href="#">OFFICER LOGOUT</a>
                  {% endif %}

                </div>
              </li> -->


                <li class="nav-item">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        {% if request.session.AdminPolyCardData != None %}
                            <a class="btn btn-outline-primary" href="{% url 'adminLogout' %}"><strong>OFFICER
                                LOGOUT</strong><br>
                                <small>Logout {{ adminData.first_Name }}</small>
                            </a> {% endif %} {% if userData.polyCard_Data != adminData.polyCard_Data %}
                        {% if request.session.CustomerPolyCardData != None %}
                            <a class="btn btn-outline-primary" href="{% url 'studentLogout' %}"><strong>CUSTOMER
                                LOGOUT</strong><br>
                                <small>Logout {{ userData.first_Name }}</small>
                            </a> {% endif %} {% endif %}
                        {% if request.session.AdminPolyCardData == None or request.session.AdminPolyCardData == None %}
                            <a class="btn btn-outline-primary"
                               href="{% url 'studentLogin' %}"><strong>LOGIN</strong><br>
                                <small>Authenticate a new user</small>
                            </a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% endwith %} {% block body %}
    <h1>Base</h1> {% endblock %}

    <footer>
        <div class="container container-footer">
            <span class="text-muted">&COPY; 2018 Cal Poly IEEE Student Branch</span>
            <span class="text-muted">| <a href="https://github.com/dgaiero/IEEE-DCS">Github</a> | <a href="https://calpolyieee.com/page-issue/">Found an issue with this page?</a></span>
        </div>
    </footer>
</body>

</html>
