html, body {
    height: 100%
}

/* .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
} */

body {
    padding-top: 0 !important;
    padding-bottom: 20px;
}

.btn-margin-left {
    margin-left: 2px;
}

.btn-margin-right {
    margin-right: 5px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding: 3rem 1.5rem;
}

.container {
    padding-top: 80px;
}

.container-footer {
    width: auto;
    padding-bottom: 15px;
}

.polyCardDataFieldMask {
    -webkit-text-security: square;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/*** Works on common browsers ***/
::selection {
    background-color: #006699;
    color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: #006699;
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: #006699;
    color: #fff;
}

::-ms-selection {
    background-color: #006699;
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #006699;
    color: #fff;
}

:root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
    position: absolute;
    top: 0;
    /*left: 0;*/
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
    cursor: text;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

.messageSendMessageInput ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red !important;
    opacity: 1; /* Firefox */
}

/* .officerLogout:hover span {display:none}
.officerLogout:hover:before {content:"Logout!"} */
