<!--Import template base.html layout-->
{% extends 'base.html' %}

<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>CheckOut Page</title>
    {% endblock %}
    <!--Needed for importing static files
    {% load static %}
     <link rel="stylesheet" href="{% static 'app_Transaction/style.css' %}" type="text/css">
    -->
  </head>
  <body>
    {% block body %}
    <br>
    <div class="container">
      <h1>CheckOut Page</h1>
      <form method="post">
        {% csrf_token %}
        <p>
        Part:
        {{ checkOutForm.part }}
        Quantity:
        {{ checkOutForm.quantity }}
        Quantity Checked Out: --int/int--
        Id_Number:
        {{ checkOutForm.id_Number }}
        </p>
            <!--<button type="submit" class="btn btn-outline-secondary" role="button">Submit</a>-->
      </form>
      <!--Table test
      <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Part</th>
      <th scope="col">Quantity</th>
      <th scope="col">Quantity Checked Out</th>
      <th scope="col">Id Number</th>
    </tr>
  </thead>
  <tbody>
    {% for part in registered_Parts_List %}
    <tr>
      <td>{{ part }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
-->
      <a href="#" class="btn btn-outline-secondary btn-lg btn-block" role="button">Add Item</a>
      <br>
      <h3>
        Check Out Queue
      </h3>
      <br>
      <a href="{% url 'another_Action' %}" class="btn btn-outline-secondary btn-lg btn-block" role="button">Finish Checking Out</a>
      <br>
    </div>
    {% endblock %}
  </body>
</html>
