<!--Import template base.html layout-->
{% extends 'base.html' %}

<!--Button code adapted from:
https://getbootstrap.com/docs/4.0/components/buttons/
https://www.w3schools.com/bootstrap/bootstrap_buttons.asp
-->

<!DOCTYPE html>
<html>

<head>
    {% block head %}
        <title>WELCOME PAGE</title>
    {% endblock %}
    <!--Needed for importing static files
    {% load static %}
     <link rel="stylesheet" href="{% static 'app_Transaction/style.css' %}" type="text/css">
    -->
</head>

<body>
{% block body %}
    <div class="container">

        {% if request.GET.userUpdate == "True" %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <h4 class="alert-heading">Update Successful</h4>
                <p>You have been successfully updated the users profile.</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        <div class="jumbotron">
            {% if request.session.AdminPolyCardData != None %}
                {% if userData.polyCard_Data == "" %}
                    <div class="alert alert-danger" role="alert">
                        Please have {{ userData.first_Name }} swipe their polycard! Click the link below to update their
                        profile.
                    </div>
                {% endif %}
            {% endif %}
            {% include "app_Transaction/userHeader.html" %}
            {% if request.session.AdminPolyCardData != None %}
                <br>
                <a href="{% url 'registration' %}?mode=update&first_Name={{ userData.first_Name }}&last_Name={{ userData.last_Name }}&userType={{ userData.userType }}&cal_Poly_Email={{ userData.cal_Poly_Email }}&phone_Number={{ userData.phone_Number }}&polyCard_Data={{ userData.polyCard_Data }}&ieee_member_number={{ userData.ieee_member_number }}&ieee_member_expiration_date={{ userData.ieee_member_expiration_date }}"
                   class="btn btn-outline-primary">Update {{ userData.first_Name }}'s profile</a>
            {% endif %}
        </div>

        <div class="row">
            {% if request.session.AdminPolyCardData != None %}
                <!-- <div class="col-md-4">
                <h2>Equipment Return</h2>
                <p>
                    Return equipment checked out to {{ userData.first_Name }}.
                </p>
                <p><a href="{% url 'checkIn' %}" class="btn btn-outline-primary">Return Equipment</a></p>
            </div>
            <div class="col-md-4">
                <h2>Equipment Checkout</h2>
                <p>
                    Checkout equipment to {{ userData.first_Name }}.
                </p>
                <p><a href="{% url 'checkOut' %}" class="btn btn-outline-primary">Check out Equipment</a></p>
            </div> -->

                <div class="col-md-4">
                    <h2>Search User Database</h2>
                    <p>
                        Search for users in the database.
                    </p>
                    <p><a href="{% url 'searchUser' %}" class="btn btn-outline-primary">Search</a></p>
                </div>

                <div class="col-md-4">
                    <h2>Add New User</h2>
                    <p>
                        Add a new user to the IEEE member database
                    </p>
                    <p><a href="{% url 'registration' %}" class="btn btn-outline-primary">Add User</a></p>
                </div>
            {% endif %}
            <!-- </div>

  <div class="row"> -->
            <div class="col-md-4">
                <h2>Login new user</h2>
                <p>
                    Click here to login new user
                </p>
                <p><a href="{% url 'studentLogout' %}" class="btn btn-outline-primary">Login new User</a></p>
            </div>
        </div>


    </div>
{% endblock %}
</body>

</html>
