<!--Import template base.html layout-->
{% extends 'base.html' %}

<!--Button code adapted from:
https://getbootstrap.com/docs/4.0/components/buttons/
https://www.w3schools.com/bootstrap/bootstrap_buttons.asp
-->

<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>CheckInOrCheckOut Page</title>
    {% endblock %}
    <!--Needed for importing static files
    {% load static %}
     <link rel="stylesheet" href="{% static 'app_Transaction/style.css' %}" type="text/css">
    -->
  </head>
  <body>
    {% block body %}
    <br>
    <div class="container">
      <h1>CheckInOrCheckOut Page</h1>
      <p> Would you like to check in or check out? </p>
      <a href="/app_Transaction/checkIn/" class="btn btn-outline-secondary btn-lg btn-block" role="button">Check In</a>
      <a href="/app_Transaction/checkOut/" class="btn btn-outline-secondary btn-lg btn-block" role="button">Check Out</a>
    </div>
    {% endblock %}
  </body>
</html>
