<!--Import template base.html layout-->
{% extends 'base.html' %}

<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>CheckPolyCard</title>
    {% endblock %}
    <!--Needed for importing static files
    {% load static %}
     <link rel="stylesheet" href="{% static 'app_Transaction/style.css' %}" type="text/css">
    -->
  </head>
  <body>
    {% block body %}
    <br>
    <div class="container">
      <h1>Check Poly Card Page</h1>
      <p>You can swipe your PolyCard here</p>
      <!--CheckPolyCard form-->
      <form method="post">
        {% csrf_token %}
        {{ checkPolyCardForm.as_p }}
        <button type="submit">Submit</button>
      </form>
    </div>
    {% endblock %}
  </body>
</html>

<!--Error message to be implemented later saying that PolyCard is not valid
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
-->

<!-- Dominic's code
<h1>Polycard Check</h1>

<h3>Please swipe your polycard</h3>

<form action="{% url 'app_Transaction:checkPolycardEnrollment' User.iso_Number %}" method="post">
  {%csrf_token %}
  <input type="text" name="polyCardNumber" id="polyCardUserData" />
  <input type="submit" value="validate Data">
</form>
-->
