<!--Import template base.html layout-->
{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>

    {% block head %}
    <title>Index Page</title>
    <link rel="shortcut icon" type="image/jpg" href="{% static favicon.jpg %}"/>
    {% endblock %}

    <!--Needed for importing static files

     <link rel="stylesheet" href="{% static 'app_Transaction/style.css' %}" type="text/css">
    -->
  </head>
  <body>
    {% block body %}
    <br>
    <div class="container">
      <h1>Welcome to the SPL Digital CheckOut System!</h1>
    </div>
    {% endblock %}
  </body>
</html>
