<!--Import template base.html layout-->
{% extends 'base.html' %}

<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>Parts Page</title>
    {% endblock %}
    <!--Needed for importing static files
    {% load static %}
     <link rel="stylesheet" href="{% static 'app_Transaction/style.css' %}" type="text/css">
    -->
  </head>
  <body>
    {% block body %}
    <br>
    <div class="container">
      <h1>Parts Page</h1>
      <h6>Number of items: {{ total_Parts }}</h6>
      <p>Below is a list of registered parts:</p>
      <ul>
        {% for part in registered_Parts_List %}
        <p>{{ part }}</p>
        {% endfor %}
      </ul>
    </div>
    {% endblock %}
  </body>
</html>
