<!--Import template base.html layout-->
{% extends 'base.html' %}

<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <title>Registration Page</title>
    {% endblock %}
    <!--Needed for importing static files
    {% load static %}
     <link rel="stylesheet" href="{% static 'app_Transaction/style.css' %}" type="text/css">
    -->
</head>

<body>
    {% block body %}
    <br>
    <div class="container ">
        <div class="jumbotron">
            <h1>{% if request.GET.mode == "update" %}Update {{userData.first_Name}}'s profile{% else %}Add User{% endif %}</h1>
            <p class="lead">{% if request.GET.mode == "update" %}Update user information in the IEEE user databse.{% else %}Add a user to the IEEE Member Database.{% endif %}You are currently logged in as: {{ adminData.first_Name }} {{ adminData.last_Name }}</p>
        </div>
        <!-- {% if errors != None %}
{{ errors }}
{% endif %} -->
        <!--Registration form-->
        <form method="post">
            {% csrf_token %}
            {{ registrationForm.mode.as_hidden }}
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="username">First Name</label>{% if registrationForm.first_Name.errors %} <span class="badge badge-danger">Error</span> {% endif %} {{ registrationForm.first_Name }}
                </div>
                <div class="form-group col-md-5">
                    <label for="username">Last Name</label>{% if registrationForm.last_Name.errors %} <span class="badge badge-danger">Error</span> {% endif %} {{ registrationForm.last_Name }}
                </div>
                <div class="form-group col-md-2">
                    <label for="username">Member Type</label>{% if registrationForm.userType.errors %} <span class="badge badge-danger">Error</span> {% endif %} {{ registrationForm.userType }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="username">Email (Cal Poly)</label>{% if registrationForm.cal_Poly_Email.errors %} <span class="badge badge-danger">Error</span> {% endif %} {{ registrationForm.cal_Poly_Email }}
                </div>
                <div class="form-group col-md-6">
                    <label for="username">Phone Number</label>{% if registrationForm.phone_Number.errors %} <span class="badge badge-danger">Error</span> {% endif %} {{ registrationForm.phone_Number }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="username">Swipe Polycard</label>{% if registrationForm.polyCard_Data.errors %} <span class="badge badge-danger">Error</span> {% endif %} {{ registrationForm.polyCard_Data }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="username">IEEE Member Number</label>{% if registrationForm.ieee_member_number.errors %} <span class="badge badge-danger">Error</span> {% endif %} {{ registrationForm.ieee_member_number }}
                </div>
                <div class="form-group col-md-5">
                    <label for="username">Expiration Date</label>{% if registrationForm.ieee_member_expiration_date.errors %} <span class="badge badge-danger">Error</span> {% endif %} {{ registrationForm.ieee_member_expiration_date }}
                </div>
                <div class="form-group col-md-2">
                    <label for="">&nbsp</label>
                    <button class="btn btn-primary btn-large btn-block" type="submit">{% if request.GET.mode == "update" %}Update User{% else %}Add User{% endif %}</button>
                </div>
            </div>
        </form>
    </div>
    {% endblock %}
</body>

</html>
