<!--Import template base.html layout-->
{% extends 'base.html' %}

{% load widget_tweaks %}

<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>USER SEARCH</title>
    {% endblock %}
    <!--Needed for importing static files
    {% load static %}
     <link rel="stylesheet" href="{% static 'app_Transaction/style.css' %}" type="text/css">
    -->
</head>

{% block body %}
    <body>
    <div class="container">
        <div class="jumbotron">
            <h1>Search Users in database</h1>
            <a href="{% url 'csvExport' %}?{{ csvExportData }}" class="btn btn-outline-dark btn-sm">Export Results as
                CSV</a>
            {#            <a href="{% url 'csvExport' %}?{{ csvExportData }}" class="btn btn-outline-dark btn-sm">Send Message to#}
            {#                Query</a>#}
            {#            <button type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" style="cursor: pointer;"#}
            {#                    data-target="#sendMessageQueryModel">#}
            {#                Send Message to Query#}
            {#            </button>#}
        </div>

        <form method="get">

            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="username">First
                        Name</label>{% render_field filter.form.first_Name class="form-control" %}
                </div>
                <div class="form-group col-md-5">
                    <label for="username">Last Name</label>{% render_field filter.form.last_Name class="form-control" %}
                </div>
                <div class="form-group col-md-2">
                    <label for="username">User Type</label>{% render_field filter.form.userType class="form-control" %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="username">Email (Cal
                        Poly)</label>{% render_field filter.form.cal_Poly_Email class="form-control" %}
                </div>
                <div class="form-group col-md-6">
                    <label for="username">Phone
                        Number</label>{% render_field filter.form.phone_Number class="form-control" %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="username">Swipe
                        Polycard</label>{% render_field filter.form.polyCard_Data class="form-control" %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="username">IEEE Member
                        Number</label>{% render_field filter.form.ieee_member_number class="form-control" %}
                </div>
                <div class="form-group col-md-5">
                    <label for="username">Expiration
                        Year</label>{% render_field filter.form.ieee_member_expiration_date class="form-control" %}
                </div>
                <div class="form-group col-md-2">
                    <label for="">&nbsp</label>
                    <button class="btn btn-primary btn-large btn-block" type="submit">Submit</button>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade bd-example-modal-lg" id="sendMessageQueryModel" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Send Message to Query</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            If you would like to send a message to the users in the query, fill out the form below.
                            Merge tags are supported.
                            <div class="form-row">
                                <div class="form-group col-md-10">
                                    <textarea class="form-control" id="sendMessageArea" rows="3"></textarea>
                                </div>
                                <div class="form-group col-md-2">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                                id="dropdownMenuButton"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Tags
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item mergeTagInsert" style="cursor: pointer;">|*USER_FRIST_NAME*|</a>
                                            <a class="dropdown-item mergeTagInsert" style="cursor: pointer;">|*USER_LAST_NAME*|</a>
                                            <a class="dropdown-item mergeTagInsert" style="cursor: pointer;">Something
                                                else here</a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $(".mergeTagInsert").click(function () {
                    var insertText = $(this).text();
                    $('#sendMessageArea').append(" " + insertText);
                });

            </script>
        </form>

        <table class="table table-striped dt-responsive nowrap" id="searchTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone No.</th>
                <th>User Type</th>
                <th>Member No.</th>
                <th>Expiration Date</th>
                <th>User Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in filter.qs %}
                <tr>
                    <td>{{ user.first_Name }} {{ user.last_Name }}</td>
                    <td>{{ user.cal_Poly_Email }}</td>
                    <td>{{ user.phone_Number }}</td>
                    <td>{% if user.userType == 'MEMBER' or user.userType == 'ADMIN' or user.userType == 'OFFICER' %}
                        <span class="badge badge-success">{{ user.userType }}</span>
                    {% elif user.userType == 'MEMBER_EXPIRED' %}
                        <span class="badge badge-warning">EXPIRED</span>
                    {% elif user.userType == 'NON_MEMBER' %}
                        <span class="badge badge-danger">NON MEMBER</span>
                    {% endif %}</td>
                    <td>{{ user.ieee_member_number }}</td>
                    <td>{{ user.ieee_member_expiration_date }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            {#                <a href="{% url 'studentLogin'%}?mode=passthrough&email={{ user.cal_Poly_Email }}&service=/registration?mode=update&first_Name={{ user.first_Name }}&last_Name={{ user.last_Name }}&userType={{user.userType}}&cal_Poly_Email={{ user.cal_Poly_Email }}&phone_Number={{ user.phone_Number }}&polyCard_Data={{ user.polyCard_Data }}&ieee_member_number={{ user.ieee_member_number }}&ieee_member_expiration_date={{ user.ieee_member_expiration_date }}" class="btn btn-outline-primary">Update profile</a> #}
                            <a href="{% url 'studentLogin' %}?mode=passthrough&email={{ user.cal_Poly_Email }}&service=/checkInOrCheckOut"
                               class="btn btn-outline-primary">Login User</a>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No data</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

    <script>
        $(document).ready(function () {
            $('#searchTable').DataTable(
                {
                    "searching": false
                }
            );
        });
    </script>
    </body>
{% endblock %}

</html>
