<!--Import template base.html layout-->
{% extends 'base.html' %}

{% load widget_tweaks %}

<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>WEB MAIL CLIENT</title>
    {% endblock %}
    <!--Needed for importing static files
    {% load static %}
     <link rel="stylesheet" href="{% static 'app_Transaction/style.css' %}" type="text/css">
    -->
</head>

{% block body %}
    <body>
    <div class="container">

        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-label-group col-md-12">
                    {% render_field messageForm.users_to class="form-control" id="inputTo" placeholder="To" %}
                    <label for="inputTo">To</label>
                </div>
            </div>

            <div class="form-row">
                <div class="form-label-group col-md-6">
                    {% render_field messageForm.users_from_email class="form-control" id="inputFrom" placeholder="From Email" %}
                    <label for="inputFrom">From Email</label>
                    <small id="messageHelp" class="form-text text-muted">Type email prefix before @calpolyieee.com
                    </small>
                </div>
                <div class="form-label-group col-md-6">
                    {% render_field messageForm.users_from_name class="form-control" id="inputFromName" placeholder="From Name" %}
                    <label for="inputFromName">From Name</label>
                    {#                    <small id="messageHelp" class="form-text text-muted">Type email prefix before @calpolyieee.com#}
                    </small>
                </div>
            </div>

            <div class="form-row">
                <div class="form-label-group col-md-12">
                    {% render_field messageForm.subject class="form-control" id="inputSubject" placeholder="Subject" %}
                    <label for="inputSubject">Subject</label>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-dark" onclick="insertText('inputMessage', '# ');">H1</button>
                    <button type="button" class="btn btn-dark" onclick="insertText('inputMessage', '## ');">H2</button>
                    <button type="button" class="btn btn-dark" onclick="insertText('inputMessage', '### ');">H3</button>
                    <button type="button" class="btn btn-dark" onclick="insertText('inputMessage', '* ');">
                        <strong>B</strong></button>
                    <button type="button" class="btn btn-dark" onclick="insertText('inputMessage', '_ ');"><em>I</em>
                    </button>
                    <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Merge Tags
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <button type="button" class="btn btn-light dropdown-item"
                                onclick="insertText('inputMessage', '|*USER_FIRST_NAME*|');">First Name
                        </button>
                        <button type="button" class="btn btn-light dropdown-item"
                                onclick="insertText('inputMessage', '|*USER_LAST_NAME*|');">Last Name
                        </button>
                        <button type="button" class="btn btn-light dropdown-item"
                                onclick="insertText('inputMessage', '|*USER_EMAIL*|');">Email
                        </button>
                        <button type="button" class="btn btn-light dropdown-item"
                                onclick="insertText('inputMessage', '|*USER_PHONE_NUMBER*|');">Phone Number
                        </button>
                        <button type="button" class="btn btn-light dropdown-item"
                                onclick="insertText('inputMessage', '|*USER_MEMBER_NUMBER*|');">Member Number
                        </button>
                        <button type="button" class="btn btn-light dropdown-item"
                                onclick="insertText('inputMessage', '|*USER_EXPIRE_DATE*|');">Expiration Date
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="label-group col-md-12">
                    {% render_field messageForm.message class="form-control messageSendMessageInput" id="inputMessage" placeholder="Message" %}
                    {#                    <label for="inputMessage">Message</label>#}
                    <small id="messageHelp" class="form-text text-muted">Supports <a
                            href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">full
                        markdown</a> and merge tags. For
                        a
                        list of merge tags, <a href="" data-toggle="modal" data-target="#mergeTagModel">click here.</a>
                    </small>
                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="">&nbsp</label>
                <button class="btn btn-primary btn-large btn-block" type="submit">Submit</button>
            </div>
            {#            <input type="button" value="Insert some text" onclick="insertText('inputMessage', 'Hello');">#}
        </form>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="mergeTagModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Merge Tags</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="alert alert-dark" role="alert">
                        Please note, merge tags will only work on users in the database. If a user is not in the
                        database, you'll have to send an email individually. To generate an email set for the system,
                        visit the user search page <a href="{% url 'searchUser' %}" target="_blank">here.</a>
                    </div>

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">|*USER_FIRST_NAME*|</th>
                            <td>Inserts User's first name</td>
                        </tr>
                        <tr>
                            <th sceop="row">|*USER_LAST_NAME*|</th>
                            <td>Inserts User's last name</td>
                        </tr>
                        <tr>
                            <th scope="row">|*USER_EMAIL*|</th>
                            <td>Inserts User's email address on file.</td>
                        </tr>
                        <tr>
                            <th scope="row">|*USER_PHONE_NUMBER*|</th>
                            <td>Inserts User's phone number</td>
                        </tr>
                        <tr>
                            <th scope="row">|*USER_MEMBER_NUMBER*|</th>
                            <td>Inserts User's IEEE member number</td>
                        </tr>
                        <tr>
                            <th scope="row">|*USER_EXPIRE_DATE*|</th>
                            <td>Inserts User's IEEE member expiration date</td>
                        </tr>


                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                    {#                    <button type="button" class="btn btn-primary">Save changes</button>#}
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        function insertText(elemID, text) {
            var elem = document.getElementById(elemID);
            elem.value += text;
        }
    </script>

{% endblock %}
</body>
</html>
